# Core functionality - changes here should be rare!
/src/app.py                   @SrivenkateswaraReddy
/src/backend/database.py      @SrivenkateswaraReddy
/src/backend/routers/auth.py  @SrivenkateswaraReddy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SrivenkateswaraReddy
